a, a:focus, a:hover {
    text-decoration: none;
}
body {
    background: #F2F2F2;
    font-family: "Pt Sans", Arial;
}
footer {
    background: #373E48;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 0;
    text-align: center;
}
footer p {
    margin: 0;
}
header {
    background: #373E48;
}
header .row #avatar {
    padding: 0.5em;
}
header .row #avatar figure {
    float: right;
}
header .row #avatar figure figcaption {
    background: #3771C8;
    border-radius: 0 0 2px 2px;
    max-height: 10px;
    position: absolute;
    right: 0.5em;
    top: 4em;
    width: 50px;
}
header .row #avatar figure figcaption a {
    color: #E4ECF7;
    display: block;
    position: relative;
    text-align: center;
    top: -5px;
    width: 100%;
}
header .row #avatar figure figcaption a:before {
    content: "\e000";
    font-family: icomoon;
}
header .row #avatar figure img {
    width: 50px;
}
header .row #isologotype {
    padding: 1em 0 0 0.5em;
}
header .row #isologotype a {
    color: #D3DADC;
    font-family: Lobster;
    font-size: 28px;
}
header .row #isologotype a:before {
    color: #2A7FFF;
    content: "\f0da";
    font-family: icomoon;
    font-size: 30px;
    left: -2px;
    position: relative;
    top: 3px;
}
header .row #title {
    text-align: center;
}
header .row #title h1 {
    background: #3771C8;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
    max-width: 120px;
    padding: 0;
}
#main-section {
    background: white;
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 0 auto;
    min-height: 60px;
    padding: 0.2em;
    position: relative;
    text-align: center;
    top: -5px;
    width: 98%;
    z-index: 10;
}
#main-section .resource {
    padding: 0.2em;
}
#main-section .resource .row {
    display: block;
    margin: 0;
    text-align: center;
}
#main-section .resource .row .resource-img {
    margin: 0;
    padding: 0;
}
#main-section .resource .row .resource-img:before {
    content: "\e003";
    font-family: icomoon;
    font-size: 32px;
}
#main-section .resource .row .resource-name {
    color: #1A1A1A;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
#search-options {
    background: #535D6C;
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    max-height: 10px;
    padding: 0;
    text-align: center;
    width: 63px;
    z-index: 20;
}
#search-options a {
    color: #E7E9EB;
    display: block;
    position: relative;
    top: -5px;
    width: 100%;
}
#search-options a:before {
    content: "\e000";
    font-family: icomoon;
}
#tags {
    background: #535D6C;
    min-height: 44px;
}
#tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#tags ul li {
    padding: 0;
    text-align: center;
}
#tags ul li a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#tags ul #add-new-tag, #tags ul #save-search {
    background: #FF6600;
}
#tags ul #add-new-tag a, #tags ul #save-search a, #tags ul .arrow-left a, #tags ul .arrow-right a {
    color: #E2EDFF;
    font-size: 20px;
    line-height: 44px;
}
#tags ul #add-new-tag a:before {
    content: "\f014";
    font-family: icomoon;
}
#tags ul #save-search a:before {
    content: "\e002";
    font-family: icomoon;
}
#tags ul .arrow-left, #tags ul .arrow-right {
    background: #2A7FFF;
}
#tags ul .arrow-left a:before {
    content: "\f0d7";
    font-family: icomoon;
}
#tags ul .arrow-right a:before {
    content: "\f0d8";
    font-family: icomoon;
}
#tags ul .tag {
    background: #B7BeC8;
    border: 0.2px solid #0E0F11;
    border-radius: 5px;
    margin: 0.7em 0;
}
#tags ul .tag a {
    color: #333;
    font-weight: bold;
}
#tags ul .tag.active {
    background: white;
}
.error {
    background: red;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.2em auto;
    width: 60%;
}
.ui-dialog {
    background: #535D6C;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 0.95;
    padding: 0.5em;
    text-align: center;
    width: 60%;
    z-index: 999;
}
.ui-dialog button {
    background: #FF6600;
    border: 0.5px solid #333;
    border-radius: 8px;
    color: #E2EDFF;
    font-weight: bold;
    margin: 0 0.5em;
    min-width: 80px;
}
.ui-dialog #add-new-tag-dialog input {
    border: 0.5px dotted white;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}
.ui-dialog #add-new-tag-dialog label {
    color: white;
    font-size: 1.2em;
    text-shadow: 0.5px 3px 2px black;
}
.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}
