a, a:focus, a:hover {
    text-decoration: none;
}
body {
    background: #F2F2F2;
    font-family: "Pt Sans", Arial;
    margin: 0;
}
nav {
    background: #535D6C;
    min-height: 44px;
}
nav .row {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav .row li {
    padding: 0;
}
nav .row li a {
    display: block;
    text-align: center;
}
nav .row #add-new-tag, nav .row #save-search {
    background: #FF6600;
}
nav .row #add-new-tag a, nav .row #save-search a, nav .row .arrow-left a, nav .row .arrow-right a {
    color: #E2EDFF;
    font-size: 20px;
    line-height: 44px;
}
nav .row #add-new-tag a:before {
    content: "\e006";
    font-family: icomoon;
    opacity: 0.9;
}
nav .row #save-search a:before {
    content: "\e003";
    font-family: icomoon;
    opacity: 0.9;
}
nav .row .arrow-left, nav .row .arrow-right {
    background: #2A7FFF;
}
nav .row .arrow-left a:before {
    content: "\f0d9";
    font-family: icomoon;
    opacity: 0.9;
}
nav .row .arrow-right a:before {
    content: "\f0da";
    font-family: icomoon;
    opacity: 0.9;
}
#page-footer {
    background: #373E48;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
}
#page-footer p {
    margin: 0;
}
#page-header {
    background: #373E48;
    margin: 0;
    padding: 0.5em 2em 0 2em;
}
#page-header h1 {
    background: #3771C8;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
    max-width: 120px;
    padding: 0.2em;
    text-align: center;
}
#page-header .row #avatar {
    padding: 0.5em 1em 0 0;
}
#page-header .row #avatar figure {
    float: right;
}
#page-header .row #avatar figure img {
    width: 70px;
}
#page-header .row #avatar figure #account-options {
    background: #3771C8;
    border-radius: 0 0 2px 2px;
}
#page-header .row #avatar figure #account-options > a {
    color: #E4ECF7;
    display: block;
    line-height: 15px;
    text-align: center;
}
#page-header .row #avatar figure #account-options > a:before {
    content: "\f0d7";
    font-family: icomoon;
    opacity: 0.9;
}
#page-header .row #avatar figure #account-options .dropdown-menu {
    background: #535D6C;
    left: -10px;
    margin: 0.5em 0 0 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    width: 90px;
}
#page-header .row #avatar figure #account-options .dropdown-menu li a {
    color: white;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 0;
}
#page-header .row #avatar figure #account-options .dropdown-menu li a:hover {
    background: #3771C8;
}
#page-header .row #isologotype {
    padding: 1em 0 0 1em;
}
#page-header .row #isologotype a {
    color: #D3DADC;
    font-family: Lobster;
    font-size: 28px;
}
#page-header .row #isologotype a:before {
    color: #2A7FFF;
    content: "\e001";
    font-family: icomoon;
    font-size: 30px;
    left: -2px;
    position: relative;
    top: 3px;
}
#resources {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    min-height: 60px;
    padding: 0.2em;
    position: relative;
    text-align: center;
    top: -8px;
    width: 98%;
    z-index: 10;
}
#resources #select-all-none {
    background: #5599FF;
    border-radius: 0 3px 0 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 20;
}
#resources #select-all-none a {
    color: #E7E9EB;
    display: block;
    opacity: 0.9;
    width: 3em;
}
#resources #select-all-none a:before {
    content: "\e00a";
    font-family: icomoon;
    font-size: 2em;
    line-height: 1.5em;
}
#resources #select-all-none.active a:before {
    content: "\f096";
}
#resources .row .resource {
    padding: 0.2em;
}
#resources .row .resource.active a {
    background: #CCC;
    border-radius: 3px;
    color: #1A1A1A;
}
#resources .row .resource .row {
    display: block;
    margin: 0;
    text-align: center;
}
#resources .row .resource .row .resource-img {
    margin: 0;
    padding: 0;
}
#resources .row .resource .row .resource-img:before {
    content: "\e004";
    font-family: icomoon;
    font-size: 32px;
}
#resources .row .resource .row .resource-name {
    color: #1A1A1A;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
#search-options {
    background: #535D6C;
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70px;
    z-index: 20;
}
#search-options a {
    color: #E7E9EB;
    display: block;
    line-height: 15px;
}
#search-options a:before {
    content: "\f0d7";
    font-family: icomoon;
    opacity: 0.9;
}
#search-options-modal .modal-dialog {
    width: 100%;
}
#search-options-modal .modal-dialog .modal-content {
    background: #373E48;
}
#search-options-modal .modal-dialog .modal-content .modal-body {
    padding-left: 0;
    padding-right: 0;
}
.error {
    background: red;
    color: white;
    font-size: 0.9em;
    margin: 0.2em auto;
    opacity: 0.9;
    width: 60%;
}
.modal-content {
    background: #535D6C;
    color: white;
    opacity: 0.95;
    text-align: center;
}
.modal-content input {
    border: none;
    border-radius: 10px;
    box-shadow: 0.2px 1px 4px black;
    text-align: center;
}
.modal-content .modal-footer {
    border-top: 1px solid black;
    text-align: center;
}
.modal-content .modal-footer .btn-primary {
    background: #FF6600;
    border: 1px solid #333;
}
.modal-content .modal-header {
    border-bottom: 1px solid black;
}
.modal-content .modal-title {
    text-shadow: 0.5px 1px 1px black;
}
.row .tag, .row .search {
    background: #B7BeC8;
    border: 0.2px solid #0E0F11;
    border-radius: 5px;
    margin: 0.7em 0;
}
.row .tag a, .row .search a {
    color: #333;
    font-weight: bold;
}
.row .tag.active, .row .search.active {
    background: white;
}
