@media (min-width: 768px) {
    #elements .element .row .element-name {
        padding: 0.5em 0 0 0.5em;
        text-align: left;
    }
}

@media (min-width: 992px) {
    #elements .element .row .element-name {
        padding: 0.5em 0 0 1em;
    }
}
