{% extends "main-view.html" %}

{% block title %} Resources' explorer {% endblock %}

{% block h1 %} Explorer {% endblock %}

{% block header %}
    <div id="avatar" class="col-xs-4">
        <figure>
            <img src="/static/img/avatar.jpg" alt="User's avatar" />

            <figcaption id="account-options" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> </a>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a id="new-files" role="menuitem" tabindex="-1" href="#">New files</a></li>
                    <li role="presentation">
                        <a id="tags-and-searches" role="menuitem" data-toggle="modal" href="#tags-and-searches-modal">Tags & Searches</a>
                    </li>
                    <li role="presentation"><a id="settings" role="menuitem" tabindex="-1" href="#">Settings</a></li>
                    <li role="presentation"><a id="logout" role="menuitem" tabindex="-1" href="/logout">Log out</a></li>
                </ul>
            </figcaption>
        </figure>
    </div>
{% endblock %}

{% block content %}
    <nav id="tags">
        <ul class="row">
            <li class="col-xs-2 col-sm-1" id="add-new-tag"><a class="animated" data-toggle="modal" href="#add-new-tag-modal"> </a></li>
            <li class="arrow-left col-xs-2 col-sm-1"><a class="animated" href="#"> </a></li>
            {% for tag in tags %}
            <li class="tag col-xs-2 col-sm-1"><a class="animated" href="#tag-{{ tag.id }}">{{ tag.name }}</a></li>
            {% endfor %}
            <li class="arrow-right col-xs-2 col-sm-1"><a class="animated" href="#"> </a></li>
            <li class="col-xs-2 col-sm-1" id="save-search"><a class="animated" data-toggle="modal" href="#save-search-modal"> </a></li>
        </ul>
    </nav>

    <div id="search-options">
        <a class="animated" data-toggle="modal" href="#search-options-modal"> </a>
    </div>

    <section id="resources">
        <div id="select-all-none">
            <a class="animated" href="#"> </a>
        </div>

        <div class="row"> </div>
    </section>
{% endblock %}

{% block extras %}
    <!-- Modals -->
    <div class="modal fade" id="add-new-tag-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-tag" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Give your new tag a name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="new-tag-name" id="new-tag-name" value="" />
                    <p class="error"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="save-search-modal" tabindex="-1" role="dialog" aria-labelledby="save-search" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Save the current search as...</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="new-search-name" id="new-search-name" value="" />
                    <p class="error"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="search-options-modal" tabindex="-1" role="dialog" aria-labelledby="search-options" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search options</h4>
                </div>
                <div class="modal-body">
                    <nav id="searches">
                        <ul class="row">
                            <li class="arrow-left col-xs-2 col-sm-1"><a class="animated" href="#"> </a></li>
                            {% for search in searches %}
                            <li class="search col-xs-4 col-sm-1"><a class="animated" href="#search-{{ search.id }}">{{ search.name }}</a></li>
                            {% endfor %}
                            <li class="arrow-right col-xs-2 col-sm-1"><a class="animated" href="#"> </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="tags-and-searches-modal" tabindex="-1" role="dialog" aria-labelledby="search-options" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Tags & Searches</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h2>Tags</h2>

                        <nav id="view-tags">
                            <ul class="row"></ul>
                        </nav>
                    </div>

                    <div>
                        <h2>Searches</h2>

                        <nav id="view-searches">
                            <ul class="row"></ul>
                        </nav>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- templates -->
    <script id="tag-search-detailed-view-template" type="text/templates">
        <section class="detailed-view">
            <section>
                <div>
                    <input class="name" type="text" value="<%= name %>"/>
                </div>

                <div class="icons">
                    <p><a class="icon icon-disk" data-id="<%= id %>" href="#"></a></p>
                    <p><a class="icon icon-trashcan" data-id="<%= id %>" href="#"></a></p>
                </div>
            </section>

            <p><a class="icon icon-undo" href="#"></a></p>
        </section>
    </script>
{% endblock %}
