<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Main view</title>
        <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lobster" type="text/css" media="all" />
        <link rel="stylesheet" href="/static/css/icomoon.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/static/css/main-style.css" type="text/css" media="all" />
    </head>

    <body>
        <header>
            <figure id="isologotype">
                <span> <a href="#"> </a> </span>

                <figcaption> <a href="#">Omni Tag</a> </figcaption>
            </figure>

            <figure id="avatar">
                <img src="/static/img/avatar.jpg" alt="User's avatar" />

                <figcaption> <a href="#"></a> </figcaption>
            </figure>

            <h1>Explorer</h1>
        </header>

        <nav id="tags">
            <ul>
                <li id="add-tag"> <a href="#"> </a> </li>
                <li class="previous"> <a href="#"> </a> </li>
                <li class="tag active"> <a href="#">Photos</a> </li>
                <li class="tag"> <a href="#">Work</a> </li>
                <li class="tag active"> <a href="#">Family</a> </li>
                <li class="tag active"> <a href="#">Travel</a> </li>
                <li id="save-search"> <a href="#"> </a> </li>
                <li class="next"> <a href="#"> </a> </li>
            </ul>
        </nav>

        <div id="search-options">
            <span> <a href="#"> </a> </span>
        </div>

        <section id="elements">
            <article class="element">
                <figure>
                    <span> <a href="#"> </a> </span>

                    <figcaption> <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a> </figcaption>
                </figure>
            </article>
        </section>

        <footer>
            <p>Power by Flask</p>
            <p>Nodsine's Technologies</p>
        </footer>
    </body>
</html>
